:root{
    --main-color: #2B9DF4;
}

*{
    margin: 0px;
    box-sizing: border-box;
}

.bg-blackish{
    background-color: rgba(0, 0, 3, 1);
}

.f_orbi{
    font-family: 'Orbitron', sans-serif;
}

.nav-bord{
    border-bottom: 1px solid white;
    color: white;
}

.color-white{
    color: white;
}

.color-main{
    color: var(--main-color);
}

.color-grey{
    color: grey;
}

.nav-icon{
    transform: rotate(-25deg);
    font-size: 30px;
}

.link-nav{
    font-size: 13px;
    font-weight: 100;
}

.bg-moon{
    background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,139,0.3),rgba(0,0,0,0.9)), url(./Black/media/moon.jpg);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.pb-200{
    padding-bottom: 200px;
}

.pt-200{
    padding-top: 200px;
}

.head-title{
    color: rgba(255,255,255, 1);
    font-size: 54px;
    background-color: transparent;
}

.bg-transaparent{
    background-color: transparent;
}

.i-arrow{
    color: var(--main-color);
    font-weight: 800;
    font-size: 35px;
    background-color: transparent;
    z-index: 999;
    padding-bottom: 50px;
}

.card-lorem{
    border-bottom:2px solid #2B9DF4;
    color: white;
    max-width: 300px;
}

.card-lorem p{
    font-weight: 100;
    font-size: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.card-lorem span{
    font-weight: 500;
    font-size: 35px;
}

/* .img-moon2{
    /* background: linear-gradient(315deg,rgba(255, 255, 255, 0.849), rgba(255,255,255,0.3)); */
    /* background-color: white; 
 }*/

.fw-basso{
    font-weight: 1;
}

.card-logo-title{
    font-size: 20px;
    font-weight: 5;
    border-bottom: 2px solid var(--main-color);
}