:root{
    --main-color: #2B9DF4;
}

*{
    margin: 0px;
    box-sizing: border-box;
}

.bg-blackish{
    background-color: rgba(0, 0, 3, 1);
}

.f_orbi{
    font-family: 'Orbitron', sans-serif;
}
.f_jura{
    font-family: 'Jura', sans-serif;
}

.nav-bord{
    border-bottom: 1px solid white;
    color: white;
}

.color-white{
    color: white;
}

.color-main{
    color: var(--main-color);
}

.color-grey{
    color: grey;
}

.nav-icon{
    transform: rotate(-25deg);
    font-size: 30px;
}

.link-nav{
    font-size: 13px;
    font-weight: 100;
}

.bg-moon{
    background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,139,0.3),rgba(0,0,0,0.9)), url(./Black/media/moon.jpg);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.pb-200{
    padding-bottom: 200px;
}

.pt-200{
    padding-top: 200px;
}

.head-title{
    color: rgba(255,255,255, 1);
    font-size: 54px;
    background-color: transparent;
}

.bg-transaparent{
    background-color: transparent;
}

.i-arrow{
    color: var(--main-color);
    font-weight: 800;
    font-size: 35px;
    background-color: transparent;
    z-index: 999;
    padding-bottom: 50px;
}

.card-lorem{
    border-bottom:2px solid #2B9DF4;
    color: white;
    max-width: 300px;
}

.card-lorem p{
    font-weight: 100;
    font-size: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.card-lorem span{
    font-weight: 500;
    font-size: 35px;
}

/* .img-moon2{
    /* background: linear-gradient(315deg,rgba(255, 255, 255, 0.849), rgba(255,255,255,0.3)); */
    /* background-color: white; 
 }*/

.fw-basso{
    font-weight: 1;
}

.card-logo-title{
    font-size: 15px;
    font-weight: 5;
    border-bottom: 2px solid var(--main-color);
    margin-top: 10px;
}

.logo-card{
    font-size: 20px;
    color: var(--main-color);
    padding-right: 5px;
}

.card-logo-body{
    font-size: 10px;
    padding-top: 5px;
}

.go-to{
    padding: 10px 40px;
    color: white;
    font-size: 10px;
    --b:2px;   /* thickness of the border */
    --c:var(--main-color);   /* color of the border */
    --w:8px;  /* width of border */
    border:var(--b) solid transparent; /* space for the border */
    --g:#0000 90deg,var(--c) 0;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
    background-size:var(--w) var(--w);
    background-origin:border-box;
    background-repeat:no-repeat;
}


.bg-footer{
    background-image: linear-gradient(-180deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(./Black/media/sunrise-1765027_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 100%;
    padding-bottom: 100px;
}

.footer{
    box-shadow:  40px  40px 300px black;
              
}
.footer-lorem{
    font-size: 20px;
    font-weight: 10;
}

.hr{
    background:linear-gradient(90deg,rgba(0,0,39,0.5),rgba(43,157,244),rgba(0,0,39,0.5));
    height: 5px;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}